@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-btn: rgb(32, 32, 56);

  /* Font size */
  --font-large: 36px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 400;
  --weight-regular: 200;

  /*Size*/
  --size-border-radius: 4px;

  /*Annimation*/
  --animation-duration: 300ms;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 20px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("../font/NotoSansKR-Regular.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("../font/SourceSansPro-Regular.woff") format("woff"),
    url("../font/SourceSansPro-Regular.ttf") format("ttf"),
    url("../font/SourceSansPro-Regular.eot") format("eot");
  font-style: normal;
  unicode-range: U+0041-005A, U+0061-007A;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

section {
  padding: 100px 0;
}

/* ==========================Navbar ==================================*/

#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: transparent;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: #000;
  padding: 8px;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  padding-top: 1rem;
}
.navbar__logo img {
  width: 120px;
  padding-left: 1rem;
}

.menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  font-size: var(--font-regular);
  color: #fff;
  border-radius: 10px;
}

.menu__item:hover {
  border-color: #fff;
  background-color: rgb(32, 32, 56);
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
  background: none;
}

/*=============================== home background =============================*/

.constelacao {
  background: -webkit-linear-gradient(
    top,
    rgb(0, 0, 0) 50%,
    rgb(25, 19, 39) 80%,
    rgb(43, 32, 72)
  );
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 90%;
  animation: rotate 0s infinite linear;
}

.estrela {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  animation-name: estrela;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.estrela.style1 {
  animation-duration: 0.5s;
  animation-name: estrela;
}
.estrela.style2 {
  animation-duration: 1s;
  animation-name: estrela;
}
.estrela.style3 {
  animation-duration: 1.5s;
  animation-name: estrela;
}
.estrela.style4 {
  animation-duration: 2s;
  animation-name: estrelaDestacada;
}

.estrela.tam1 {
  width: 1px;
  height: 1px;
}
.estrela.tam2 {
  width: 2px;
  height: 2px;
}
.estrela.tam3 {
  width: 3px;
  height: 3px;
}

.estrela.opacity1 {
  opacity: 1;
}
.estrela.opacity2 {
  opacity: 0.5;
}
.estrela.opacity3 {
  opacity: 0.1;
}

.meteoro {
  position: absolute;
  background-color: #fff;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  transform: rotate(-35deg);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.meteoro:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 85px solid white;
  position: absolute;
  left: 2px;
  top: 0;
}

.meteoro.style1 {
  animation-name: meteoroStyle1;
}
.meteoro.style2 {
  animation-name: meteoroStyle2;
}
.meteoro.style3 {
  animation-name: meteoroStyle3;
}
.meteoro.style4 {
  animation-name: meteoroStyle4;
}

.lua {
  position: absolute;
  right: 200px;
  top: 150px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 0 160px 0px #fff, 0 0 30px -4px #fff,
    0 0 8px 2px rgba(255, 255, 255, 0.26);
  background-color: #fff;
  animation-name: lua;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

.lua .textura {
  background-image: url(https://raw.githubusercontent.com/interaminense/starry-sky/master/src/img/bgMoon.png);
  background-position: center;
  background-size: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0.4;
}

.floresta {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.floresta img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes escurecer {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

@keyframes estrela {
  0% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.05);
  }
  50% {
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.05);
  }
}

@keyframes estrelaDestacada {
  0% {
    background-color: #ffffff;
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 1);
  }
  20% {
    background-color: #ffc4c4;
    box-shadow: 0 0 10px 0px rgb(255, 196, 196, 1);
  }
  80% {
    background-color: #c4cfff;
    box-shadow: 0 0 10px 0px rgb(196, 207, 255, 1);
  }
  100% {
    background-color: #ffffff;
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.2);
  }
}

@keyframes meteoroStyle1 {
  0% {
    opacity: 0;
    right: 300px;
    top: 100px;
  }
  30% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    right: 1000px;
    top: 600px;
  }
}

@keyframes meteoroStyle2 {
  0% {
    opacity: 0;
    right: 700px;
    top: 100px;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    right: 1400px;
    top: 600px;
  }
}

@keyframes meteoroStyle3 {
  0% {
    opacity: 0;
    right: 300px;
    top: 300px;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    right: 1000px;
    top: 800px;
  }
}

@keyframes meteoroStyle4 {
  0% {
    opacity: 0;
    right: 700px;
    top: 300px;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    right: 1400px;
    top: 800px;
  }
}

@keyframes lua {
  0% {
    box-shadow: 0 0 160px 0px #fff, 0 0 30px -4px #fff,
      0 0 8px 2px rgba(255, 255, 255, 0.26);
  }
  50% {
    box-shadow: 0 0 80px 0px #fff, 0 0 30px -4px #fff,
      0 0 8px 2px rgba(255, 255, 255, 0.26);
  }
  100% {
    box-shadow: 0 0 160px 0px #fff, 0 0 30px -4px #fff,
      0 0 8px 2px rgba(255, 255, 255, 0.26);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/*=======comon=========*/
.contain_title {
  font-weight: 600;
  font-size: 42px;
  padding: 0 0 3rem 0;
}

.section {
  margin: 200px auto;
}

.section_common {
  max-width: 1400px;
  margin: auto;
}

/*========================== Home ==============================*/
#home {
  color: #fff;
  position: relative;
  padding: 0 !important;
}

.home__container {
  max-width: 1400px;
  margin: 0rem auto;
  position: relative;
  padding: 12rem 0 12rem 2rem;
}

.main__title {
  margin: 2rem 0;
}

.starTitle {
  font-size: 65px;
  color: #fff;
  font-weight: 800;
}

.main__icon {
  display: flex;
  align-items: center;
  transition: all var(--animation-duration);
}

.main__icon i:hover {
  transform: scale(1.1);
  color: var(--color-orange);
}

.main__icon_git,
.main__icon_blog,
.main__icon_contact {
  font-size: 30px;
  margin-right: 1rem;
}

/*about*/

.about_content {
  background: url("/images/about_bg.png") center/cover no-repeat;
}

.about_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1400px;
  margin: auto;
  padding: 170px 0;
}

.about__avatar img {
  width: 400px;
  height: 450px;
  border-radius: 20px;
}

.about__title {
  font-family: "Courgette", cursive;
  font-size: var(--font-large);
}

.about__subcontent {
  margin-top: 1.5rem;
  font-size: var(--font-regular);
}

.about__subcontent i {
  margin-right: 1rem;
}

.about__description {
  margin-top: 1.5rem;
}

.about__description p {
  font-size: var(--font-small);
  line-height: 1.5;
}

.about__tag {
  margin-top: 2rem;
  display: flex;
}

.about__tag li {
  margin-right: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: #3f4461;
  color: #fff;
}

/*skill*/

#skill {
  background: url("/images/skill_bg.png") center/cover no-repeat;
}

.background_circle img {
  width: 30%;
  position: absolute;
  right: -50%;
  opacity: 0.2;
}

.skill_wrapper {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  padding-bottom: 2rem;
}

.skill_group_title {
  font-family: "Courgette", cursive;
  font-size: var(--font-regular);
  margin-bottom: 1rem;
}

.skills {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.skills_icon {
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 4px 5px 10px 2px rgba(142, 142, 142, 0.94);
  box-shadow: 4px 5px 10px 2px rgba(142, 142, 142, 0.94);
  padding: 1.2rem;
  margin-right: 1rem;
}

.skills_icon img {
  width: 30px;
  height: 30px;
}

.skill_familiar,
.skill_group,
.skill_tool {
  display: flex;
  flex-direction: column;
}

/*=======portfolio=================*/

#portfolio {
  background: url("../images/sub_bg.jpg") center/cover no-repeat;
  height: 920px;
}

.portfolio_title {
  font-weight: 600;
  font-size: 42px;
  margin-bottom: 2rem;
  color: #fff;
}

.category_button {
  display: flex;
}

.category_button button {
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  margin-right: 1rem;
}

.portfolio_group {
  display: flex;
  align-items: center;
  margin: 2rem 0 4rem 0;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.portfolio {
  margin: 0 1rem 1rem 0;
}

.portfolio img {
  width: 420px;
  height: 240px;
  border-radius: 10px;
  cursor: pointer;
}

.portfolio.invisible {
  display: none;
}

/*================experince============*/

.experience_table {
  display: flex;
  width: 100%;
  border-top: 1px solid rgb(226, 226, 226);
  padding: 2rem;
  align-items: center;
}

.experience_table_wrap {
  padding: 50px 0;
}

.experience_table_date {
  width: 10%;
}

.experience_table_company {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.experience_table_positin {
  width: 35%;
}

.experience_table_description {
  width: 35%;
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.experience_table_description span {
  font-weight: 400;
}

.experience_table_three {
  border-bottom: 1px solid rgb(226, 226, 226);
}

/*contact*/

#contact {
  background: url(../images/contactBg.jpg) center/cover no-repeat;
  color: #fff;
}

.contact_email {
  display: flex;
  flex-direction: column;
  font-size: var(--font-medium);
  margin-top: 2rem 0;
}

.contact_email span {
  font-size: var(--font-regular);
}

.contact__icon {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.main_bottom img {
  width: 100%;
  object-fit: contain;
  min-height: 60vh;
}

.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  color: #fff;
  background-color: rgb(32, 32, 56);
  border-radius: 50%;
  display: none;
}

.arrow-up.visible {
  display: block;
}

@media only screen and (min-width: 760px) and (max-width:1280px) {
  .navbar__toggle-btn {
    display: block;
    padding: 0.9rem 0;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: #000;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  #navbar.navbar--dark {
    padding: 16px;
  }

  .starTitle {
    font-size: 40px;
  }

  .home__container {
    padding: 18rem 0 12rem 0rem;
    text-align: center;
  }

  .main__icon {
    justify-content: center;
    margin-top: 5rem;
  }

  .experience_table {
    font-size: 12px;
  }

  .about_wrapper {
    flex-direction: column;
  }

  .about__content {
    padding: 1.5rem;
  }

  #skill,
  #experience,
  #portfolio,
  #contact {
    padding: 3rem;
  }

  .experience_table {
    padding: 1rem;
  }

  .experience_table_date {
    width: 15%;
  }

  .experience_table_company {
    width: 30%;
  }

  .experience_table_positin {
    width: 25%;
  }

  .experience_table_description {
    width: 30%;
  }
  #portfolio {
    height: auto;
  }

  .skill_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;
  }

  .skill_group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 1rem;
  }

  .skill_group_title {
    text-align: center;
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .skill_img_title {
    margin-top: 1rem;
  }

  .skill_familiar,
  .skill_group,
  .skill_tool {
    margin-bottom: 1rem;
  }

  .portfolio_group {
    justify-content: center;
  }

  .portfolio img {
    width: 100%;
    height: auto;
  }

  .contain_title{
    1rem
  }

}

@media screen and (max-width: 420px) {
  .experience_table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .experience_table_company {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .experience_table_description {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .experience_table_positin {
    width: 100%;
  }

  .about__title,
  .about__description p {
    padding: 0.2rem;
  }

  .about__tag {
    display: flex;
    flex-direction: column;
  }

  .about__tag li {
    text-align: center;
  }

  .about__tag__design,
  .about__tag__publishing {
    margin-bottom: 0.5rem;
  }

  .category_button {
    flex-direction: column;
  }

  .category_button button {
    margin-bottom: 0.5rem;
  }
}
